<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicineAvailTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>MAT_services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmLogin</display-name>
    <servlet-name>PharmLogin</servlet-name>
    <servlet-class>MAT_services.PharmLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmLogin</servlet-name>
    <url-pattern>/PharmLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacistRegister</display-name>
    <servlet-name>PharmacistRegister</servlet-name>
    <servlet-class>MAT_services.PharmacistRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacistRegister</servlet-name>
    <url-pattern>/PharmacistRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInventry</display-name>
    <servlet-name>EditInventry</servlet-name>
    <servlet-class>MAT_services.EditInventry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInventry</servlet-name>
    <url-pattern>/EditInventry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatuspharm</display-name>
    <servlet-name>UpdateStatuspharm</servlet-name>
    <servlet-class>MAT_services.UpdateStatuspharm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatuspharm</servlet-name>
    <url-pattern>/UpdateStatuspharm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>MAT_services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPassword</display-name>
    <servlet-name>UserPassword</servlet-name>
    <servlet-class>MAT_services.UserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPassword</servlet-name>
    <url-pattern>/UserPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>MAT_services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacistPassword</display-name>
    <servlet-name>PharmacistPassword</servlet-name>
    <servlet-class>MAT_services.PharmacistPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacistPassword</servlet-name>
    <url-pattern>/PharmacistPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRequest</display-name>
    <servlet-name>UserRequest</servlet-name>
    <servlet-class>MAT_services.UserRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequest</servlet-name>
    <url-pattern>/UserRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostRequest</display-name>
    <servlet-name>PostRequest</servlet-name>
    <servlet-class>MAT_services.PostRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRequest</servlet-name>
    <url-pattern>/PostRequest</url-pattern>
  </servlet-mapping>
</web-app>